
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*Estilos generales*/
body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(flores.jpg);
    background-position: center;
}

/* estilos para el contenedor principal*/
#app {
    background-color: #faedcd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

/* estilos para el formulario */
form {
    display: flex;
    justify-content: space-between;
}

/*estilos al input*/
input {
    width: 75%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/*estilos al botón*/
button {
    padding: 5px 8px;
    background-color: #e9c46a;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 25%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/*estilos para la lista*/
ul {
    list-style: none;
    padding: 0;
}

/*estilos para el elemento de la lista*/
li{
    background-color: #ccd5ae;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*estilos para el elemento completado de la lista*/
li.completed {
    text-decoration: line-through;
    color: #888;
}
.toggle {
    background-color: #e9edc9;
    border-radius: 25%
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.delete {
    background-color: #e9edc9;
    border-radius: 25%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    display: flex;
    justify-content: center;
}